target/
cmake_install.cmake
Makefile
CMakeCache.txt
CMakeFiles/
sherby-cutwidth
dfas_v2/CMakeCache.txt
dfas_v2/CMakeFiles/
dfas_v2/Makefile
dfas_v2/cmake_install.cmake
dfas_v2/dfas
tmp/
*.a
Cargo.lock
*.svg
exact-public-instances/*.sol
cutwidth-public/*.sol
*.no_preprocess_sol
